body {
    margin: 0;
    font-family: 'Noto Sans SC', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #fafafa;
}
header {
    background-color: white;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #0a0a0a;
    padding: 10px;
}
header section { position: absolute; float: left; }
header div.float-left {
    margin: -10px;
    padding: 10px;
    height: 75px
}
header section p {
    margin-top: -10px;
    font-size: 10pt;
}
header input#username {
    position: relative;
    top: 5px;
    right: 0;
    width: 150px;
    background-color: rgba(0,0,0,0.05);
    padding: 10px;
    font-size: 13pt;
    border: none;
}
header button { float: right; }

main {
    width: 100%;
    height: 100%
}

.row {
    border: 1px solid #0a0a0a;
    background-color: #fafafa;
    stroke: #000;
    stroke-width: 1;
}
rect {
    stroke: #ccc;
    stroke-width: 1;
    margin: -5px;
    fill: rgba(255,255,255, 0.8)
}
text {
    stroke: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}
div#code { display: block; position: relative; height: 100%; }
section#order, section#display {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
    display: block;
    height: 100vh;
}

section#order { width: 50% }
section#display { width: 50%; }

section#order a {
    position: relative;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
    color: #0a0a0a;
    float: right;
    text-decoration: none;
}
section#order a:first-of-type {
    margin-right: 25px;
}
i.fa-question {
    float: right;
    display: inline-block;
    margin: 13px;
    padding: 6px;
    border-radius: 100px;
}
i.fa-question:hover {
    background-color: #fafafa;
}
.tippy-content {
    font-size: 10pt !important;
}
.tippy-content strong { float: left; }
.tippy-content span { float: left; margin-left: 15px; }
section#order h2 {
    font-weight: bold;
    margin-top: 0;
    font-size: 12pt;
}

section#order p {
    clear: both;
}

section#order a:first-of-type { background-color: #111; color: lightgreen }
section#order a:last-of-type { background-color: #fff;  }
section#order a:first-of-type:hover { color: #ccc; }
section#order a:last-of-type:hover { color: #ccc; }

section#order a.enabled { box-shadow: 4px 4px 2px #ccc; font-weight: bold}

section#order main .CodeMirror {
    width: 100%;
    height: 100vh;
    display: none;
}

section#display {
    background-color: black;
}
section#display button {
    margin: 10px;
    position: absolute;
    z-index: 2;
}

button i {
    margin-right: 5px;
}

section#display button:nth-of-type(2) { margin-left: 100px; }


section#display.week3 div div {
    width: 5%;
    height: 5vh;
    display: block;
    float: left;
    border-top: 1px solid #444;
    border-left: 1px solid #444;
}

section#display.week3 div.row {
    clear: both;
}